cache
SafariEchoURL.scpt
.idea
backup
classes.txt
database/*.txt
gog
games.txt
ipad
chromedriver
temp
restructure.rb
/Rintrah/build/
/nbproject/private/
/build/
/dist/
nbproject
*.sql
*.old
Rintrah
synch.rb
apple_fix.command
copy_to_temp.command
grabber.command
*.csv
*.html
*.tsv
*.command
scan_stats.yaml
load_raw.csh
pagoda.sql*
database_bad
database_backup
gog_old.yaml
steam_old.yaml
work.yaml
database_new
database copy
