cache
SafariEchoURL.scpt
.idea
backup
classes.txt
database/*.txt
gog
games.txt
ipad
chromedriver
temp
restructure.rb
/Rintrah/build/
/nbproject/private/
/build/
/dist/
nbproject
*.sql
*.old
settings.yaml
.tool-versions
Rintrah
synch.rb
apple_fix.command
copy_to_temp.command
grabber.command
