<table class="aspects">
  <tr><th>Aspect</th><th>Description</th></tr>
  <% aspects.each_pair do |name, info| %>
    <tr><td><%= info['title'] ? info['title'] : name %></td><td><%= info['desc'] %></td></tr>
  <% end %>
</table>
