<table class="aspects">
  <tr><th>Aspect</th><th>Description</th></tr>
  <% aspects.each_pair do |name, info| %>
    <tr><td><%= name %></td><td><%= info['description'] %></td></tr>
  <% end %>
</table>
