  <div class="blurb">
    The aspects can be dragged and dropped between the different
    buckets. Aspects in the Include bucket will limit games displayed
    to those with those aspects. Aspects in the Exclude bucket will limit
    games to those without those aspects.
  </div>
  <% containers.each do |name| %>
    <div class="frame2">
      <div class="frame1">
        <div id="<%= name %>" class="container <%= name %>"
             ondragover="event.preventDefault()" ondrop="drop(event)"></div>
      </div>
      <div class="title"><div></div><span><%= name.capitalize %></span><div></div></div>
    </div>
  <% end %>
</div>
