Click on <span onclick="set_section('Games')">Games</span> to see a list of
graphic computer games. The number
in brackets is the number of selected games not the total number of games
(<%= games.size %>).
<p>
Click on <span onclick="set_section('Filters')">Filters</span> to set aspects to be included or
excluded for restricting the games listed.
<p>
Click on <span onclick="set_section('Aspects')">Aspects</span> to see a description of
the different aspects. It is best not to refresh the pages or use the browser back button.
<p>
This list of games only really covers games of interest to
<a href="https://www.alofmethbin.com/Articles/contact/index.html">me</a> to personally play,
that is games with a good story, puzzles, and no
button mashing or platforming or the like. There are far too many games out there
to list every such game, and the selection is to some extent arbitrary. Sorry.
<p>
The game data will not be complete and accurate so don't use it for mission critical purposes
like nuclear power stations or manned spaceflight.
