<%= erb :header, :locals => {:page => 'games_by_aspect'} %>

<div id="list"><table class="scan list">
  <tr><th>Aspect</th><th>Index</th><th>Count</th></tr>
  <%=
      html = []

      games_by_aspect_records.each do |rec|
        html << "<tr><td>#{rec[0]}</td>"
        html << "<td>#{rec[1]}</td>"
        html << "<td><a href=\"/games?aspect=#{rec[0]}\">#{rec[2]}</a></td></tr>"
      end

      html.join( "\n")
  %>
</table></div>

</body>
</html>