<%= erb :header, :locals => {:page => 'games_check_person_aspects'} %>

<div id="list"><table class="games list">
  <tr><th>ID</th><th>Name</th><th>Year</th><th>In group</th><th>Reviews</th></tr>
  <%=
    html = []

    games_check_aspects_records( 'games_check_person_aspects', ['1st person', '3rd person'], true, 5).each do |rec|
      year = (rec.year.nil? || (rec.year < 1)) ? '' : rec.year
      html << "<tr>"
      html << "<td>#{rec.id}</td>"
      html << "<td><a target=\"_blank\" href=\"/game/#{rec.id}\">#{h(rec.name)}</a></td>"
      html << [:year, :group_name].collect {|f| "<td>#{rec.send(f)}</td>"}.join( "\n")
      reviews = 0
      rec.links do |link|
        reviews += 1 if link.type == 'Review'
      end
      html << "<td>#{(reviews > 0) ? reviews.to_s : ''}</td>"
      html << '</tr>'
    end

    html.join( "\n")
  %>
</table></div>

</body>
</html>