<%= erb :header, :locals => {:page => 'games'} %>

<table class="search">
  <tr>
    <td>
      <label for="search">Search:</label>
      <input type="text" id="search" maxlength="40" oninput="search_input()">
    </td>
    <td><div id="pages"></div></td>
  </tr>
</table>

<div id="list"></div>

<script>
    function load_games() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "/games_list", false);
        xhttp.send();
        document.getElementById("list").innerHTML = xhttp.responseText;

        xhttp = new XMLHttpRequest();
        xhttp.open("GET", "/page_control/games", false);
        xhttp.send();
        document.getElementById("pages").innerHTML = xhttp.responseText;
    }

    function search_input() {
        set_variable( 'game_search', document.getElementById( 'search').value);
        load_games();
    }

    function select_checkbox( id) {
        set_variable( 'selected_game', id);
        load_games();
    }

    document.getElementById( 'search').value = get_variable( 'game_search');
    load_games();
</script>

</body>
</html>