<%= erb :header, :locals => {:page => 'games_to_check_display'} %>

<div id="list"><table class="games list">
  <tr><th>ID</th><th>Name</th><th>Year</th><th>In group</th><th>Select</th><th>Reviews</th><th>Actions</th></tr>
  <%=
    html = []

    records = games_to_check_display_records

    records[0..99].each do |rec|
      year = (rec.year.nil? || (rec.year < 1)) ? '' : rec.year
      if selected_game == rec.id
        style   = 'style="background: lime"'
        checked = 'checked'
      else
        style = checked = ''
      end
      html << "<tr #{style}>"
      html << "<td>#{rec.id}</td>"
      html << "<td><a target=\"_blank\" href=\"/game/#{rec.id}\">#{h(rec.name)}</a></td>"
      html << [:year, :group_name].collect {|f| "<td>#{rec.send(f)}</td>"}.join( "\n")
      html << "<td><input type=\"checkbox\" onclick=\"select_checkbox('#{rec.id}')\" #{checked}></td>"
      reviews = 0
      rec.links do |link|
        reviews += 1 if link.type == 'Review'
      end
      html << "<td>#{(reviews > 0) ? reviews.to_s : ''}</td>"
      html << "<td><button onclick=\"visited_action( 'games_to_check_display:#{rec.id}');\">Visited</button></td>"
      html << '</tr>'
    end

    html.join( "\n")
  %>
</table></div>

<script>
    function visited_action( key) {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "POST", "/visited/" + key, false);
        xhttp.send();
        if (xhttp.responseText == '') {return;}
        alert( xhttp.responseText);
    }
</script>

</body>
</html>