<table class="games list">
  <tr><th>ID</th><th>Name</th><th>Year</th><th>In group</th><th>Select</th></tr>
  <%=
    html = []

    records = games_records
    current_page = get_variable(:games_page,1).to_i
    total_pages  = (records.size + 99) /  100
    current_page = 1 if total_pages < current_page
    selected     = get_variable(:selected_game,-1).to_i
    records.sort_by! do |rec|
      rec.name.to_s
    end

    records[(100*(current_page-1))...(100*current_page)].each do |rec|
      year = (rec.year.nil? || (rec.year < 1)) ? '' : rec.year
      if selected == rec.id
        style   = 'style="background: lime"'
        checked = 'checked'
      else
        style = checked = ''
      end
      html << "<tr #{style}>"
      html << "<td>#{rec.id}</td>"
      html << "<td><a href=\"/game/#{rec.id}\">#{h(rec.name)}</a></td>"
      html << [:year, :group_name].collect {|f| "<td>#{rec.send(f)}</td>"}.join( "\n")
      html << "<td><input type=\"checkbox\" onclick=\"select_checkbox('#{rec.id}')\" #{checked}></td>"
      html << '</tr>'
    end

    html.join( "\n")
  %>
</table>
