<html>
<head>
  <style>
    body {display: flex; flex-direction: column; align-items: center;}
    table {margin-left: auto; margin-right: auto; font-size: 24px; margin-bottom: 20px}
    .tables, .list {border-collapse: collapse}
    .menu td {padding-left: 10px; padding-right: 10px}
    .buttons td {padding-left: 10px; padding-right: 10px}
    .control {font-size: 24px; display: flex; align-items: center;}
    .checkboxes, .combos, .search {padding-bottom: 20px}
    .checkboxes input {transform: scale(2);}
    .search, .pages {font-size: 24px; padding-bottom: 20px; display: flex; align-items: center;}
    .tables th, .tables td {border: 1px solid black; border-collapse: collapse; padding: 5px}
    .list th, .list td {border: 1px solid black; border-collapse: collapse; padding: 5px}
    .small th, .small td {font-size: 14px}
    .tables td:nth-child(2) {text-align: right}
    .game th {text-align: left}
    .game input {font-size: 20px}
    .scan {font-size: 14px}
    span.changed {background: lime}
  </style>
  <script>
      function get_variable(cname) {
          var xhttp = new XMLHttpRequest();
          xhttp.open("GET", "/get_variable/" + cname, false);
          xhttp.send();
          return xhttp.responseText;
      }

      function set_variable( cname, cvalue) {
          var xhttp = new XMLHttpRequest();
          xhttp.open("PUT", "/set_variable/" + cname + "/" + encodeURIComponent( cvalue), false);
          xhttp.send();
      }

      function change_combo( cname) {
          set_variable( cname, document.getElementById( cname).value);
          window.location.reload();
      }

      function change_page( pname, value) {
          set_variable( pname, value);
          window.location.reload();
      }

      function scan_checkbox( cname) {
          set_variable( cname, document.getElementById( cname).checked ? 'Y' : 'N');
          window.location.reload();
      }
  </script>
</head>
<body>
<h1>Pagoda Game Editor</h1>

<table class="menu">
  <tr><td>
    <%=
      ['tables', 'summary', 'links', 'games', 'aliases', 'new_game'].collect do |item|
        if item == page
          "<span>#{item.capitalize.gsub('_', ' ')}</span>"
        elsif item == 'tables'
          "<a href=\"/\">#{item.capitalize}</a>"
        else
          "<a href=\"/#{item}\">#{item.capitalize.gsub('_', ' ')}</a>"
        end
      end.join( "</td><td>")
    %>
  </td></tr>
</table>