<html>
<head>
  <style>
    body {display: flex; flex-direction: column; align-items: center;}
    table {margin-left: auto; margin-right: auto; font-size: 24px; margin-bottom: 20px}
    .tables, .list {border-collapse: collapse}
    .menu td {padding-left: 10px; padding-right: 10px}
    .buttons td {padding-left: 10px; padding-right: 10px}
    .control {font-size: 24px; display: flex; align-items: center;}
    .checkboxes, .combos, .search {padding-bottom: 20px}
    .checkboxes input {transform: scale(2);}
    .search, .pages {font-size: 24px; padding-bottom: 20px; display: flex; align-items: center;}
    .tables th, .tables td {border: 1px solid black; border-collapse: collapse; padding: 5px}
    .list th, .list td {border: 1px solid black; border-collapse: collapse; padding: 5px}
    .small th, .small td {font-size: 14px}
    .tables td:nth-child(2) {text-align: right}
    .link_record th {text-align: left}
    .game th {text-align: left}
    .game input {font-size: 20px}
    .arcade th {text-align: left}
    .arcade input {font-size: 20px}
    .scan {font-size: 14px}
    span.changed {background: lime}
    .aspects {font-size: 24px; max-width: 900px}
    .aspects div {border: 1px solid black; display: inline-block; margin: 5px}
  </style>
  <script>
      function change_combo( cname, base_url) {
          window.location = base_url + document.getElementById( cname).value;
      }

      function search_input( url) {
          window.location = url + "&search=" + encodeURIComponent( document.getElementById( 'search').value);
      }

      function click_checkbox( cname, base_url) {
          window.location = base_url + (document.getElementById( cname).checked ? 'Y' : 'N');
      }
  </script>
</head>
<body>
<h1>Pagoda Game Editor</h1>

<table class="menu">
  <tr><td>
    <%=
      ['tables', 'summary', 'links', 'games', 'new_game', 'aliases', 'verified', 'reports'].collect do |item|
        if (item == page) && ((item != 'Games') || (aspect == ''))
          "<span>#{item.capitalize.gsub('_', ' ')}</span>"
        elsif item == 'tables'
          "<a href=\"/\">#{item.capitalize}</a>"
        else
          "<a href=\"/#{item}\">#{item.capitalize.gsub('_', ' ')}</a>"
        end
      end.join( "</td><td>")
    %>
  </td></tr>
</table>