<html>
<head>
  <style>
    h1 {text-align: center}
    table {margin-left: auto; margin-right: auto; font-size: 24px; margin-bottom: 20px}
    .tables, .list {border-collapse: collapse}
    .menu td {padding-left: 10px; padding-right: 10px}
    .buttons td {padding-left: 10px; padding-right: 10px}
    .checkboxes td {padding-left: 10px; padding-right: 10px}
    .combos td {padding-left: 10px; padding-right: 10px}
    .tables th, .tables td {border: 1px solid black; border-collapse: collapse; padding: 5px}
    .list th, .list td {border: 1px solid black; border-collapse: collapse; padding: 5px}
    .tables td:nth-child(2) {text-align: right}
    .scan {font-size: 14px}
    span.changed {background: lime}
  </style>
  <script>
      function get_cookie(cname) {
          var name = cname + "=";
          var decodedCookie = decodeURIComponent(document.cookie);
          var ca = decodedCookie.split(';');
          for(var i = 0; i <ca.length; i++) {
              var c = ca[i];
              while (c.charAt(0) == ' ') {
                  c = c.substring(1);
              }
              if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
              }
          }
          return "";
      }

      function setCookie( cname, cvalue) {
          var d = new Date();
          d.setTime( d.getTime() + (30 * 24 * 60 * 60 * 1000));
          var expires = "expires="+d.toUTCString();
          document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }

      function change_combo( cname) {
          setCookie( cname, document.getElementById( cname).value);
          window.location.reload();
      }

      function change_page( pname, value) {
          setCookie( pname, value);
          window.location.reload();
      }

      function scan_checkbox( cname) {
          setCookie( cname, document.getElementById( cname).checked ? 'Y' : 'N');
          window.location.reload();
      }
  </script>
</head>
<body>
<h1>Pagoda Game Editor</h1>

<table class="menu">
  <tr><td>
    <%=
      ['tables', 'summary', 'scan', 'games', 'new_game'].collect do |item|
        if item == page
          "<span>#{item.capitalize.gsub('_', ' ')}</span>"
        elsif item == 'tables'
          "<a href=\"/\">#{item.capitalize}</a>"
        else
          "<a href=\"/#{item}\">#{item.capitalize.gsub('_', ' ')}</a>"
        end
      end.join( "</td><td>")
    %>
  </td></tr>
</table>