<%= erb :header, :locals => {:page => 'ignored_to_reprieve'} %>

<div class="search control">
  <%=
      url = "/ignored_to_reprieve"
      erb :page_control, :locals => {:view => 'ignored_to_reprieve',
                                     :page => 1, #page,
                                     :url  => url,
                                     :args => []}
  %>&nbsp;&nbsp;
</div>

<div id="list"><table class="scan list" style="table-layout: fixed">
  <tr><th>Site</th><th>Type</th><th>Link</th><th>Suggested</th></tr>
  <%=
      html = []

      records = ignored_to_reprieve_records
      current_page = 1 #page.to_i
      total_pages  = (records.size + 99) /  100
      current_page = 1 if total_pages < current_page

      row = 0
      records[(100*(current_page-1))...(100*current_page)].each do |rec|
        row += 1
        html << "<tr><td>#{h(rec[0].site)}</td>"
        html << "<td>#{rec[0].type}</td>"
        html << "<td><a target=\"_blank\" href=\"/link/#{e(e(rec[0].url))}\">#{h(rec[0].title)}</a></td><td>"
        rec[1].each do |id|
            html << "<a href=\"/game/#{id}\">#{id}</a>"
        end
        html << '</td></tr>'
      end

      html.join( "\n")
  %>
</table></div>

</body>
</html>