<%= erb :header, :locals => {:page => 'ignored_to_reprieve'} %>

<div class="search control">
  <%=
      url = "/ignored_to_reprieve?x=x"
      erb :page_control, :locals => {:view => 'ignored_to_reprieve',
                                     :page => page,
                                     :url  => url,
                                     :args => []}
  %>&nbsp;&nbsp;
</div>

<div id="list"><table class="scan list" style="table-layout: fixed">
  <tr><th>Site</th><th>Type</th><th>Link</th><th>Suggested</th><th>Actions</th></tr>
  <%=
      html = []

      records = ignored_to_reprieve_records
      current_page = page.to_i
      total_pages  = (records.size + 99) /  100
      current_page = 1 if total_pages < current_page

      row = 0
      records[(100*(current_page-1))...(100*current_page)].each do |rec|
        row += 1
        html << "<tr><td>#{h(rec[0].site)}</td>"
        html << "<td>#{rec[0].type}</td>"
        html << "<td><a target=\"_blank\" href=\"/link/#{e(e(rec[0].url))}\">#{h(rec[0].title)}</a></td><td>"
        rec[1].each do |inst|
            html << "<a href=\"/game/#{inst[0]}\">#{inst[0]}</a> (#{inst[1]})"
        end
        html << "</td><td><button onclick=\"visited_action( 'ignore_reprieve:#{e(e(rec[0].url))}');\">Visited</button></td></tr>"
      end

      html.join( "\n")
  %>
</table></div>

<script>
      function visited_action( key) {
            var xhttp = new XMLHttpRequest();
            xhttp.open( "POST", "/visited/" + key, false);
            xhttp.send();
            if (xhttp.responseText == '') {return;}
            alert( xhttp.responseText);
      }
</script>

</body>
</html>