<%= erb :header, :locals => {:page => 'scan'} %>

<div class="combos control">
  <%=
    html = []
    @chosen_site   = link_site_combo( 'site',   html)
    @chosen_type   = link_type_combo( 'type',   @chosen_site, html)
    @chosen_status = link_status_combo( 'status', @chosen_site, @chosen_type, html)
    html.join( "&nbsp;&nbsp;\n")
  %>
</div>

<div class="search control">
  <label for="search">Search:&nbsp;</label>
  <input type="text" id="search" maxlength="40" oninput="search_input()">
  &nbsp;&nbsp;
  <div id="pages" class="control"></div>
</div>

<div id="list"></div>

<script>
    function load_links() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "/link_list", false);
        xhttp.send();
        document.getElementById("list").innerHTML = xhttp.responseText;

        xhttp = new XMLHttpRequest();
        xhttp.open("GET", "/page_control/link", false);
        xhttp.send();
        document.getElementById("pages").innerHTML = xhttp.responseText;
    }

    function link_action( id, action, row) {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "POST", "/" + action + "/" + id, false);
        xhttp.send();
        if (xhttp.responseText == '') {return;}
        document.getElementById("status" + row).innerHTML = '<span class="changed">' +
                                                           xhttp.responseText +
                                                           '</span>';
        set_collation( id, row);
    }

    function search_input() {
        set_variable( 'link_search', document.getElementById( 'search').value);
        load_links();
    }

    function set_collation( url, row) {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "GET", "/collation/" + url, false);
        xhttp.send();
        var info = JSON.parse( xhttp.responseText)

        document.getElementById("collation" + row).innerHTML = info['link'];
        document.getElementById("collation_year" + row).innerHTML = info['year'];
    }

    document.getElementById( 'search').value = get_variable( 'link_search');
    load_links();
</script>

</body>
</html>