<%= erb :header, :locals => {:page => 'reports'} %>

  <table class="tables">
    <tr><td><a href="/games_added">Games by most recently added first</a></td></tr>
    <tr><td><a href="/suggest_aspects">Suggested aspects</a></td></tr>
    <tr><td><a href="/unchecked_bound_official_websites">Unchecked bound official websites</a></td></tr>
    <tr><td><a href="/ignored_to_reprieve">Ignored to reprieve</a></td></tr>
    <tr><td><a href="/aspects">Aspects</a></td></tr>
    <tr><td><a href="/scan_stats">Scan stats</a></td></tr>
  </table>

</body>
</html>