<%= erb :header, :locals => {:page => 'reports'} %>

  <table class="tables">
    <tr><td><a href="/suggest_aspects">Suggested aspects</a></td></tr>
    <tr><td><a href="/unchecked_bound_official_websites">Unchecked bound official websites</a></td></tr>
  </table>

</body>
</html>