<%= erb :header, :locals => {:page => 'reports'} %>

  <table class="tables">
    <tr><td><a href="/unchecked_genre">Games check genre</a></td></tr>
    <tr><td><a href="/multiple_genre">Games with multiple genres</a></td></tr>
    <tr><td><a href="/ignored_to_reprieve">Ignored to reprieve</a></td></tr>
    <tr><td><a href="/problem_links">Problem links</a></td></tr>
    <tr><td><a href="/static_summary">Static summary</a></td></tr>
    <tr><td><a href="/scan_stats">Scan stats</a></td></tr>
    <tr><td><a href="/tags">Tags</a></td></tr>
    <tr><td><a href="/aspects">Aspects</a></td></tr>
    <tr><td><a href="/aspect_types">Aspect types</a></td></tr>
    <tr><td><a href="/unchecked_bound_official_websites">Unchecked bound official websites</a></td></tr>
    <tr><td><a href="/games_added">Games by most recently added first</a></td></tr>
  </table>

</body>
</html>