<%= erb :header, :locals => {:page => 'scan'} %>

  <table class=combos">
    <tr>
      <%=
        html = []
        site_types     = $database.combinations( 'scan', :site, :type)
        @chosen_site   = scan_site_combo( 'site',   html)
        @chosen_type   = scan_type_combo( 'type',   @chosen_site, html)
        @chosen_status = scan_status_combo( 'status', @chosen_site, @chosen_type, html)
        html.join( "\n")
      %>
    </tr>
  </table>

  <table class="scan list">
    <tr><th>Site</th><th>Type</th><th>Title</th><td>Status</td><th>Collation</th></tr>
    <%=
      html = []

      records = $database.select( 'scan') do |rec|
        chosen = ((rec[:site] == @chosen_site) || (@chosen_site == 'All'))
        chosen = false unless (rec[:type] == @chosen_type) || (@chosen_type == 'All')
        chosen = false unless (scan_status(rec) == @chosen_status) || (@chosen_status == 'All')
        chosen
      end

      records.sort_by! do |rec|
        [rec[:site], rec[:type], rec[:label]]
      end

      records.each do |rec|
        html << "<tr><td>#{rec[:site]}</td><td>#{rec[:type]}</td><td>#{rec[:label]}</td>"
        html << "<td>#{scan_status(rec)}</td><td>"

        if rec[:bind].size > 0
          if rec[:bind][0][:id] >= 0
            html << rec[:bind][0][:name]
          end
        elsif rec[:collate].size > 0
          html << $database.get( 'game', :id, rec[:collate][0][:id])[0][:name]
        end

        html << '</td></tr>'
      end

      html.join( "\n")
    %>
  </table>

</body>
</html>