<%= erb :header, :locals => {:page => 'scan'} %>

<script>
    function scan_action( id, action) {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "POST", "/" + action + "/" + id, false);
        xhttp.send();
        if (xhttp.responseText == '') {return;}
        document.getElementById("status" + id).innerHTML = '<span class="changed">' +
                                                           xhttp.responseText +
                                                           '</span>';
        set_collation( id);
    }

    function set_collation( id) {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "GET", "/collation_link/" + id, false);
        xhttp.send();
        document.getElementById("collation" + id).innerHTML = xhttp.responseText;
    }
</script>

  <table class=combos">
    <tr>
      <%=
        html = []
        site_types     = $database.combinations( 'scan', :site, :type)
        @chosen_site   = scan_site_combo( 'site',   html)
        @chosen_type   = scan_type_combo( 'type',   @chosen_site, html)
        @chosen_status = scan_status_combo( 'status', @chosen_site, @chosen_type, html)
        html.join( "\n")
      %>
    </tr>
  </table>

  <table class="scan list">
    <tr><th>Site</th><th>Type</th><th>Title</th><th>Collation</th><th>Status</th><th>Actions</th></tr>
    <%=
      html = []

      records = $database.select( 'scan') do |rec|
        chosen = ((rec[:site] == @chosen_site) || (@chosen_site == 'All'))
        chosen = false unless (rec[:type] == @chosen_type) || (@chosen_type == 'All')
        chosen = false unless (scan_status(rec) == @chosen_status) || (@chosen_status == 'All')
        chosen
      end

      records.sort_by! do |rec|
        [rec[:site], rec[:type], rec[:label]]
      end

      records.each do |rec|
        html << "<tr><td>#{rec[:site]}</td><td>#{rec[:type]}</td>"
        html << "<td><a href=\"/scan/#{rec[:id]}\">#{rec[:label]}<a/></td>"
        html << "<td id=\"collation#{rec[:id]}\">#{collation_link( rec[:id])}</td>"
        html << "<td id=\"status#{rec[:id]}\">#{scan_status(rec)}</td><td>"
        html << scan_action( rec, 'ignore')
        html << scan_action( rec, 'bind')
        html << scan_action( rec, 'unbind')
        html << '</td></tr>'
      end

      html.join( "\n")
    %>
  </table>

</body>
</html>