<%= erb :header, :locals => {:page => 'scan'} %>

<form id="types" action="/scan">
  <table class=checkboxes">
    <tr>
      <%=
        html = []
        @types_to_list = {}

        none_listed = true
        params.each_value do |value|
          none_listed = false if value == 'Y'
        end

        $database.unique( 'scan', :type).each do |type|
          checked = ''
          if (params[type.to_sym] == 'Y') || none_listed
            @types_to_list[type] = true
            checked = 'checked'
          end
          html << "<td>#{type}: "
          html << "<input type=\"checkbox\" name=\"#{type}\" value=\"Y\" onclick=\"document.getElementById('types').submit()\" #{checked}></td>"
        end
        html.join( "\n")
      %>
    </tr>
  </table>
</form>

  <table class="scan">
    <tr><th>Site</th><th>Type</th><th>Unmatched</th><th>Unbound</th><th>Matched</th><th>Bound</th></tr>
    <%=
      html = []

      records = $database.select( 'scan') do |rec|
        @types_to_list[rec[:type]]
      end

      records.sort_by! do |rec|
        [rec[:site].downcase, rec[:type]]
      end

      matched, unmatched, bound, unbound, site, type = 0, 0, 0, 0, '', ''
      records.each do |rec|
        if (rec[:site] != site) || (rec[:type] != type)
          if site != ''
            html << "<tr><td>#{site}</td><td>#{type}</td><td>#{unmatched}</td><td>#{unbound}</td><td>#{matched}</td><td>#{bound}</td></tr>"
          end
          site  = rec[:site]
          type  = rec[:type]
          matched = unmatched = bound = unbound = 0
        end

        if rec[:bind].size > 0
          if rec[:bind][0][:id] >= 0
            bound += 1
          else
            unbound += 1
          end
        elsif rec[:collate].size > 0
          matched += 1
        else
          unmatched += 1
        end
      end

      if site != ''
        html << "<tr><td>#{site}</td><td>#{type}</td><td>#{unmatched}</td><td>#{unbound}</td><td>#{matched}</td><td>#{bound}</td></tr>"
      end

      html.join( "\n")
    %>
  </table>

</body>
</html>