<table class="scan list">
  <tr><th>Site</th><th>Type</th><th>Title</th><th>Collation</th><th>Year</th></th><th>Status</th><th>Actions</th></tr>
  <%=
    html = []

    records = scan_records
    current_page = cookies[:scan_page] ? cookies[:scan_page].to_i : 1
    total_pages  = (records.size + 99) /  100
    current_page = 1 if total_pages < current_page

    records.sort_by! do |rec|
      [rec.site, rec.type, rec.label]
    end

    records[(100*(current_page-1))...(100*current_page)].each do |rec|
      html << "<tr><td><a href=\"/scan/#{rec.id}\">#{h(rec.site)}</a></td>"
      html << "<td>#{rec.type}</td>"
      html << "<td><a href=\"#{rec.url}\">#{h(rec.label)}<a/></td>"
      html << "<td id=\"collation#{rec.id}\">#{collation_link( rec.id)}</td>"
      html << "<td id=\"collation_year#{rec.id}\">#{collation_year( rec.id)}</td>"
      html << "<td id=\"status#{rec.id}\">#{scan_status(rec)}</td><td>"
      html << scan_action( rec, 'ignore')
      html << scan_action( rec, 'bind')
      html << scan_action( rec, 'unbind')
      html << '</td></tr>'
    end

    html.join( "\n")
  %>
</table>
