<%= erb :header, :locals => {:page => 'summary'} %>

  <div class="checkboxes control">
      <%=
        html = []
        types = $pagoda.links.collect {|s| s.type}.uniq.sort
        @types_to_list = []

        @type_flags = {}
        types.each do |type|
          case type
            when "Official"
              @type_flags[type] = official
            when "Reference"
              @type_flags[type] = reference
            when "Review"
              @type_flags[type] = review
            when "Store"
              @type_flags[type] = store
            when "Walkthrough"
              @type_flags[type] = walkthrough
          end
          @types_to_list << type if @type_flags[type]
        end

        @types_to_list = types if  @types_to_list.empty?

        types.each do |type|
          checked = @types_to_list.include?( type) ? 'checked' : ''
          url, separ = '/summary', '?'
          types.each do |type1|
            if type1 != type
              url += (separ + type1.downcase + '=' + (@type_flags[type1] ? 'Y' : 'N'))
              separ = '&'
            end
          end

          html << <<"CHECKBOX"
<span>#{type}:&nbsp;</span>
<input type="checkbox" id="#{type}" value="Y"
onclick="click_checkbox('#{type}','#{url}&#{type.downcase}=')" #{checked}>
CHECKBOX
        end
        html.join( "&nbsp;&nbsp;&nbsp;\n")
      %>
  </div>

  <table class="summary list">
    <tr><th>Site</th><th>Type</th><th>Invalid</th><th>Free</th><th>Ignored</th><th>Bound</th><th>Flagged</th></tr>
    <%=
      html   = []
      totals = Hash.new {|h,k| h[k] = [0,0,0]}

      links_by_site_and_type do |site, type, links|
        next unless @types_to_list.include?( type)
        counts = Hash.new {|h,k| h[k] = [0,0,0]}

        links.each do |rec|
          status = link_status(rec)
          c = counts[status]
          c[0] += 1
          c[1] += 1 if link_lost?(rec)
          c[2] += 1 if rec.redirected?

          if link_lost?(rec) || rec.redirected?
            c = counts['Flagged']
            c[0] += 1
            c[1] += 1 if link_lost?(rec)
            c[2] += 1 if rec.redirected?
          end
        end

        summary_line( site, type, counts, totals, html)
      end

      summary_line( 'Totals', '', totals, {}, html)
      html.join( "\n")
    %>
  </table>

</body>
</html>