<%= erb :header, :locals => {:page => 'summary'} %>

<script>
    function set_scan_cookies( site, type, status) {
        setCookie( 'site', site);
        setCookie( 'type', type);
        setCookie( 'status', status);
    }
</script>

  <table class=checkboxes">
    <tr>
      <%=
        html = []
        types = $pagoda.scans.collect {|s| s.type}.uniq.sort
        @types_to_list = {}

        none_listed = true
        types.each do |type|
          none_listed = false if cookies.key?( type.to_sym)
        end

        types.each do |type|
          checked = ''
          if (cookies[type.to_sym] == 'Y') || none_listed
            @types_to_list[type] = true
            checked = 'checked'
          end
          html << "<td>#{type}: "
          html << "<input type=\"checkbox\" id=\"#{type}\" value=\"Y\" onclick=\"scan_checkbox('#{type}')\" #{checked}></td>"
        end
        html.join( "\n")
      %>
    </tr>
  </table>

  <table class="summary list">
    <tr><th>Site</th><th>Type</th><th>Unmatched</th><th>Ignored</th><th>Matched</th><th>Bound</th></tr>
    <%=
      html = []
      totals = {}

      records = $pagoda.scans do |rec|
        @types_to_list[rec.type]
      end

      records.sort_by! do |rec|
        [rec.site.downcase, rec.type]
      end

      counts, site, type = Hash.new {|h,k| h[k] = 0}, '', ''
      records.each do |rec|
        if (rec.site != site) || (rec.type != type)
          summary_line( site, type, counts, totals, html)
          site   = rec.site
          type   = rec.type
          counts = Hash.new {|h,k| h[k] = 0}
        end

        counts[scan_status(rec)] += 1
      end

      summary_line( site, type, counts, totals, html)
      summary_line( 'Totals', '', totals, {}, html)
      html.join( "\n")
    %>
  </table>

</body>
</html>