<%= erb :header, :locals => {:page => 'summary'} %>

<script>
    function set_link_cookies( site, type, status) {
        set_variable( 'site', site);
        set_variable( 'type', type);
        set_variable( 'status', status);
    }
</script>

  <div class="checkboxes control">
      <%=
        html = []
        types = $pagoda.links.collect {|s| s.type}.uniq.sort
        @types_to_list = {}

        none_listed = true
        types.each do |type|
          none_listed = false if get_variable(type)
        end

        if none_listed
          types.each {|type| set_variable( type, 'Y')}
        end

        types.each do |type|
          checked = ''
          if get_variable(type) == 'Y'
            @types_to_list[type] = true
            checked = 'checked'
          end
          html << "<span>#{type}:&nbsp;</span>" +
                  "<input type=\"checkbox\" id=\"#{type}\" value=\"Y\" onclick=\"scan_checkbox('#{type}')\" #{checked}>"
        end
        html.join( "&nbsp;&nbsp;&nbsp;\n")
      %>
  </div>

  <table class="summary list">
    <tr><th>Site</th><th>Type</th><th>Invalid</th><th>Unmatched</th><th>Ignored</th><th>Matched</th><th>Bound</th></tr>
    <%=
      html   = []
      totals = Hash.new {|h,k| h[k] = [0,0,0]}

      records = $pagoda.links do |rec|
        @types_to_list[rec.type]
      end

      records.sort_by! do |rec|
        [rec.site.downcase, rec.type]
      end

      counts, site, type = Hash.new {|h,k| h[k] = [0,0,0]}, '', ''

      records.each do |rec|
        if (rec.site != site) || (rec.type != type)
          summary_line( site, type, counts, totals, html)
          site   = rec.site
          type   = rec.type
          counts = Hash.new {|h,k| h[k] = [0,0,0]}
        end

        c = counts[link_status(rec)]
        c[0] += 1
        c[1] += 1 if link_lost?(rec)
        c[2] += 1 if rec.redirected?
      end

      summary_line( site, type, counts, totals, html)
      summary_line( 'Totals', '', totals, {}, html)
      html.join( "\n")
    %>
  </table>

</body>
</html>