<%= erb :header, :locals => {:page => 'tables'} %>

  <table class="tables">
    <tr><th>Table</th><th>Records</th></tr>
    <%=
      html = []
      ['alias', 'aspect', 'bind', 'company', 'company_alias', 'game', 'game_aspect', 'history', 'link', 'suggest'].each do |name|
        html << "<tr><td>#{name}</td><td>#{$pagoda.count(name)}</td></tr>"
      end
      html.join( "\n")
    %>
  </table>

</body>
</html>